/* *****RESET CSS******/
:root {
  --main-font: sans-serif;
  --font-size: 16px;
  --main-color: #f7df1e;
  --second-color: #222;
  --main-modal-color: rgba(247, 222, 30, 0.85);
  --second-modal-color: rgba(34, 34, 34, 0.85);
  --container-width: 1200px;
  --posX: 50;
  --posY: 10;
}
/*RESETEO BASICO PARA EL HTML*/
html {
  box-sizing: border-box;
  font-family: var(--main-font);
  font-size: var(--font-size);
  scroll-behavior: smooth; /*NAVEGACIÓN*/
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/*MARGEN DEL BODY*/
body {
  margin: 0;
  overflow-x: hidden;
}
.header {
  position: sticky;
  top: 0;
  padding: 0rem;
}
img {
  max-width: 100%;
  height: auto;
}
/****************** ESTILOS **********************/
#title {
  text-align: center;
  background-color: deepskyblue;
  margin: auto;
}
body {
  background-color: #24292e;
  margin: 0;
  padding: 0;
}
.section {
  padding: 2rem;
  padding-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: var(--container-width);
  min-height: 100vh;
  text-align: center;
  color: aqua;
}
.panel {
  background-color: deepskyblue;
  /* display: flex; */
  position: fixed;
  width: 100%;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 998;
  transition: transform 0.3s ease; /* opacity 0.5s ease*/
  transform: translate(0, -100%);
}
.active {
  transform: translate(0, 0%);
  /* opacity: 1 */
}
.menu {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
#panel-btn {
  position: fixed;
  right: 1vw;
  bottom: 1vh;
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  background-color: darkmagenta;
  font-size: 1.5rem;
  z-index: 999;
}
.panel ul {
  list-style: none;
}
.menu a {
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: all 0.5s ease;
  padding: 2rem;
  font-size: 1.5rem;
  width: inherit;
}
.menu a:hover {
  background-color: darkmagenta;
  font-weight: bold;
  color: aqua;
}
#panel-btn:hover {
  animation-name: btnRoll;
  animation-duration: 300ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
ul li {
  align-items: center;
  text-align: center;
}
@keyframes btnRoll {
  0% {
    border-radius: 100%;
  }
  100% {
    border-radius: 0%;
  }
}
.reloj {
  height: 2rem;
}

.box {
  background-color: rgb(110, 32, 48);
  height: 20rem;
}
.circle {
  background-color: darkgoldenrod;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  color: #222;
  font-size: 2rem;
  transform: translate(500px, 100px);
}
