/* *****RESET CSS******/
:root {
  --main-font: sans-serif;
  --font-size: 16px;
  --main-color: #f7df1e;
  --second-color: aqua;
  --main-modal-color: rgba(247, 222, 30, 0.85);
  --second-modal-color: rgba(34, 34, 34, 0.85);
  --container-width: 1200px;
  --posX: 50;
  --posY: 10;
}
/*RESETEO BASICO PARA EL HTML*/
html {
  box-sizing: border-box;
  font-family: var(--main-font);
  font-size: var(--font-size);
  scroll-behavior: smooth; /*NAVEGACIÓN*/
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/*MARGEN DEL BODY*/
body {
  margin: 0;
  overflow-x: hidden;
}
.header {
  position: sticky;
  top: 0;
  padding: 0rem;
  z-index: 997;
}
img {
  max-width: 100%;
  height: auto;
}
/****************** ESTILOS **********************/
#title {
  text-align: center;
  background-color: deepskyblue;
  margin: auto;
}
body {
  background-color: #24292e;
  margin: 0;
  padding: 0;
}
.section {
  padding: 2rem;
  padding-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: var(--container-width);
  min-height: 70vh;
  text-align: center;
  color: aqua;
}
.panel {
  background-color: deepskyblue;
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 998;
  transition: transform 0.3s ease; /* opacity 0.5s ease*/
  transform: translate(0, -200%);
}
.active {
  transform: translate(0, 0%);
  /* opacity: 1 */
}
.menu {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
#panel-btn {
  position: fixed;
  right: 1vw;
  bottom: 1vh;
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  background-color: darkmagenta;
  font-size: 1.5rem;
  z-index: 999;
  cursor: pointer;
}
.panel ul {
  list-style: none;
}
.menu a {
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: all 0.5s ease;
  padding: 0.2rem;
  font-size: 1rem;
  width: inherit;
}
.menu a:hover {
  background-color: darkmagenta;
  font-weight: bold;
  color: aqua;
}
#panel-btn:hover {
  animation-name: btnRoll;
  animation-duration: 300ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
ul li {
  align-items: center;
  text-align: center;
}
@keyframes btnRoll {
  0% {
    border-radius: 100%;
  }
  100% {
    border-radius: 0%;
  }
}
.reloj {
  height: 2rem;
}
.box {
  background-color: rgb(110, 32, 48);
  height: 20rem;
}
.circle {
  background-color: darkgoldenrod;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  color: #222;
  font-size: 2rem;
  transform: translate(500px, 100px);
}
#top-btn {
  position: fixed;
  color: aliceblue;
  text-align: center;
  right: 90vw;
  bottom: 1vh;
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  background-color: darkmagenta;
  font-size: 1.5rem;
  z-index: 999;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
#light-btn {
  position: fixed;
  color: aliceblue;
  text-align: center;
  right: 94.5vw;
  bottom: 1vh;
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  background-color: darkmagenta;
  font-size: 1.5rem;
  z-index: 999;
  cursor: pointer;
}
#top-btn:hover {
  color: aqua;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}
.darkMode {
  color: black;
  background-color: yellow;
}
.online,
.offline {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  background-color: #1b5e20;
  color: #fff;
}

.offline {
  background-color: #b71c1c;
}

#section10 {
  display: flex;
  flex-wrap: wrap;
}
#search-area {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.card {
  background-color: var(--second-color);
  color: var(--main-color);
  transition: all 0.3s ease-out;
}
.card img {
  width: 100%;
  height: auto;
}
.card figcaption {
  padding: 1rem;
}
.filter {
  display: none;
}
.slider {
  position: relative;
  width: 80%;
  margin: 1rem auto;
  text-align: center;
}
.slider-slides {
  position: relative;
  height: 400px;
}
.slider-slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
}
.slider-slide img {
  height: inherit;
  width: inherit;
  object-fit: cover;
  object-position: 50% 10%;
}
.slider-slide.active {
  visibility: visible;
  opacity: 1;
}
.slider a {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: thin solid black;
  text-decoration: none;
  background-color: #fff;
  color: #000;
  transition: all 0.3s ease;
}
.slider a:hover {
  color: #4d4d4d;
}
.slider-btns {
  position: absolute;
  width: 100%;
  top: 50%;
  display: flex;
  justify-content: space-between;
  font-size: 3rem;
  font-weight: bold;
}
